<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/users/edit/{{user._id}}" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Nome" value="{{user.name}}"
                            class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" value="{{user.email}}"
                            placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" name="job" class="form-control" value="{{user.job}}"
                            placeholder="Função">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>