<div class="jumbotron">
   <h1 class="display-4">Issueess</h1>
    <p class="lead">Seus problemas acabaram!</p>
    <hr class="my-4">
    <p class="lead">Criar e gerenciar issues nunca foi tão fácil!</p>
  </div>
