<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Por que o Issueess?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/list">Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/issues/list">Issues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Sair</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Acessar o Issueess</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/create">Criar conta</a>
                    </li>
                 {{/if}}
            </ul>
        </div>
    </div>
</nav>
